* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
ul,
li {
  list-style: none;
  display: flex;
  overflow: hidden;
}
.n0 {
  display: inline-block;
  color: yellow;
  text-align: center;
  text-decoration: none;
}

.n1 {
  display: none;
  background-color: aqua;
  box-shadow: 0 8px 16px 0px aqua;
  position: relative;
}
.n1:hover {
  background-color: antiquewhite;
  position: absolute;
}
.nn0 {
  text-decoration: none;
  padding: 0 10px;
  color: #000;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.nn0:hover {
  color: #ee0a21;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.nav-item-left {
  text-decoration: none;
  padding: 0 10px;
  color: #000;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.nav-item-left:hover {
  color: #ad5727;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.nav-item-right {
  text-decoration: none;
  padding: 0 10px;
  color: #000;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  position: relative;
}
.nav-item-right:hover {
  color: #ad5727;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.wrap1 {
  display: flex;
  justify-content: space-between;
  padding: 25px 150px;
  align-items: center;
}
#img {
  width: 100%;
  height: 500px;
}
.banner1 {
  margin-top: 35px;
  padding: 0 150px;
}
.banner-img {
  width: 100%;
}
.banner2 {
  margin-top: 25px;
}
.wrap2 {
  padding: 10px 150px;
}
.banner2-top {
  align-items: center;
  display: inline;
}
.wrap-box {
  display: inline;
  margin-left: 450px;
}
.banner2-cencer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.banner2-bot {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.item {
  width: calc(94% / 3);
}
.item-img {
  width: 94%;
}
.a-item1 {
  margin-bottom: 15px;
  color: #bb7e52;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
  text-decoration: none;
}
.a-item2 {
  text-align: center;
  color: #3a3a3a;
  text-align: center;
  font-family: Roboto;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 42px;
  text-decoration: none;
  margin-left: 45%;
}
.a-item2:hover {
  text-align: center;
  color: #be1c1c;
  text-align: center;
  font-family: Roboto;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 42px;
  text-decoration: none;
  margin-left: 45%;
}
.t1 {
  margin-bottom: 15px;
  color: #bb7e52;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
}
.t2 {
  text-align: center;
  color: #3a3a3a;
  text-align: center;
  font-family: Roboto;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 42px; /* 131.25% */
}
.wrap3 {
  padding: 40px 150px;
}
.banner3-img {
  width: 100%;
}
.rec {
  padding: 10px 150px;
}
.footer {
  padding: 20px 150px;
  align-items: center;
  justify-content: space-between;
  display: flex;
}
input {
  padding: 10px 40px 10px 10px;
  color: #9c9c9c;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
button {
  padding: 10px;
  background-color: #3a3a3a;
  color: #fff;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  cursor: pointer;
}
.quan {
  margin-left: 47%;
  margin-bottom: 40px;
  color: #000;
  padding: 10px 30px;
  border: 0;
  border-radius: 10px;
  outline: none;
  position: relative;
  background-color: rgb(82, 180, 115);
  border: 1px solid rgb(82, 180, 115);
  box-shadow: 0 0 5px rgb(82, 180, 115), 0 0 25px rgb(82, 180, 115);
}
.quan:hover {
  box-shadow: 0 0 25px rgb(82, 180, 115), 0 0 50px rgb(82, 180, 115);
}

.sub-menu {
  text-decoration: none;
  position: absolute;
  list-style: none;
  display: inline;
  margin-top: 20px;
  display: none;
}

.sub-menu:hover {
  display: block;
}
.a1 {
  text-decoration: none;
  padding: 0 10px;
  color: #000;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
#footer {
  width: 100%;
  background: rgb(0, 0, 0, 0.79);
  height: 322px;
  margin-top: 338px;
  padding: 0px 63px;
  padding-top: 57px;
  display: flex;
  justify-content: space-around;
}

#footer .box {
  width: 250px;
  color: #fff;
}

#footer .box .quick-menu {
  margin-top: 40px;
}

#footer .box .quick-menu .item {
  margin-bottom: 12px;
}
#footer .box .quick-menu,
.item a {
  color: #fff;
  text-decoration: none;
}

#footer .box form input {
  width: 294px;
  height: 42px;
  background: transparent;
  padding-left: 20px;
  color: #fff;
  margin-top: 30px;
}

#footer .box form button {
  background: #362f2f;
  box-shadow: 5px 5px 4px rgba(0, 0, 0.25);
  width: 163px;
  height: 38px;
  margin-top: 29px;
  color: #fff;
}
